@model IEnumerable<HotelIntegratedComputerSystems.Models.Admin.EmployeeShiftViewModel>
@Scripts.Render("~/Scripts/OneFilterPerColumn.js")
    @{
    ViewBag.Title = "Index";
}

<h2></h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Employee Shifts</h3>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClockIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClockOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CashTakenIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CashPutInSafe)
                </th>
                <th>
                    @Html.ActionLink("Create New", "Create")
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text" id="myInput1" onkeyup="filterFunctionColumn5('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5')" class="form-control" data-action="filter" placeholder="Filter Emplyee" />
                </th>
                <th>
                    <input type="text" id="myInput2" onkeyup="filterFunctionColumn5('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5')" class="form-control" data-action="filter" placeholder="Filter Clock In" />
                </th>
                <th>
                    <input type="text" id="myInput3" onkeyup="filterFunctionColumn5('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5')" class="form-control" data-action="filter" placeholder="Filter Clock Out" />
                </th>
                <th>
                    <input type="text" id="myInput4" onkeyup="filterFunctionColumn5('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5')" class="form-control" data-action="filter" placeholder="Filter Cash In" />
                </th>
                <th>
                    <input type="text" id="myInput5" onkeyup="filterFunctionColumn5('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5')" class="form-control" data-action="filter" placeholder="Filter Cash Safe" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClockIn)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ClockOut)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CashTakenIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CashPutInSafe)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>