@model IEnumerable<HotelIntegratedComputerSystems.Models.Admin.ExpensesViewModel>
@Scripts.Render("~/Scripts/OneFilterPerColumn.js")
@{
    ViewBag.Title = "Index";
}

<h2></h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Expenses</h3>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuildingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseTypeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseTypeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseTypeAmmount)
            </th>
            <th>
                @Html.ActionLink("Create New", "Create")
            </th>
        </tr>
            <tr>
                <th>
                    <input type="text" id="myInput1" onkeyup="filterFunctionColumn7('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5', 'myInput6', 'myInput7')" class="form-control" data-action="filter" placeholder="Filter Building" />
                </th>
                <th>
                    <input type="text" id="myInput2" onkeyup="filterFunctionColumn7('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5', 'myInput6', 'myInput7')" class="form-control" data-action="filter" placeholder="Filter Floor" />
                </th>
                <th>
                    <input type="text" id="myInput3" onkeyup="filterFunctionColumn7('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5', 'myInput6', 'myInput7')" class="form-control" data-action="filter" placeholder="Filter Room" />
                </th>
                <th>
                    <input type="text" id="myInput4" onkeyup="filterFunctionColumn7('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5', 'myInput6', 'myInput7')" class="form-control" data-action="filter" placeholder="Filter Customer" />
                </th>
                <th>
                    <input type="text" id="myInput5" onkeyup="filterFunctionColumn7('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5', 'myInput6', 'myInput7')" class="form-control" data-action="filter" placeholder="Filter Expense Type" />
                </th>
                <th>
                    <input type="text" id="myInput6" onkeyup="filterFunctionColumn7('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5', 'myInput6', 'myInput7')" class="form-control" data-action="filter" placeholder="Filter Description" />
                </th>
                <th>
                    <input type="text" id="myInput7" onkeyup="filterFunctionColumn7('dev-table', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5', 'myInput6', 'myInput7')" class="form-control" data-action="filter" placeholder="Filter Price" />
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseTypeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseTypeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseTypeAmmount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
