@model HotelIntegratedComputerSystems.Models.Admin.MaintenanceLog.PackageMaintenanceLogViewModel
@{
    ViewBag.Title = "Delete";
}

<h2></h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Delete</h3>
    </div>
    <h3>Are you sure you want to delete this?</h3>
    <div>

        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceLog.BuildingName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaintenanceLog.BuildingName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceLog.Floor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaintenanceLog.Floor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceLog.RoomNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaintenanceLog.RoomNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceLog.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaintenanceLog.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceLog.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaintenanceLog.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaintenanceLog.MaintenanceType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaintenanceLog.MaintenanceType)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>
