@model HotelIntegratedComputerSystems.Models.Admin.RoomTypeViewModel

@{
    ViewBag.Title = "Delete";
}

<h2></h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Delete Room Type</h3>
    </div>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Bedding)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bedding)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kitchen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kitchen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rooms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rooms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BathRooms)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BathRooms)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SleepsVolume)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SleepsVolume)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NightlyRate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NightlyRate)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>
