@model IEnumerable<HotelIntegratedComputerSystems.Models.Admin.MaintenanceTypeViewModel>
@Scripts.Render("~/Scripts/OneFilterPerColumn.js")
@{
    ViewBag.Title = "Index";
}

<h2></h2>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Maintenance Types</h3>
    </div>
    <table class="table table-hover table-bordered" id="dev-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.ActionLink("Create New", "Create")
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text" id="myInput1" onkeyup="filterFunctionColumn1('dev-table', 'myInput1')" class="form-control" data-action="filter" placeholder="Filter Title" />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>