@model IEnumerable<HotelIntegratedComputerSystems.Models.Admin.RoomViewModel>
@Scripts.Render("~/Scripts/OneFilterPerColumn.js")
@{
    ViewBag.Title = "Index";
}


<h2></h2>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Rooms</h3>
    </div>

    <table class="table table-hover table-bordered" id="maintable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BuildingName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HouseKeepingStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FloorNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomNumber)
                </th>
                <th>
                    @Html.ActionLink("Create New", "Create")
                </th>
            </tr>

            <tr>
                <th>
                    <input type="text" id="myInput1" onkeyup="filterFunctionColumn5('maintable', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5')" class="form-control" data-action="filter" placeholder="Filter Building" />
                </th>
                <th>
                    <input type="text" id="myInput2" onkeyup="filterFunctionColumn5('maintable', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5')" class="form-control" data-action="filter" placeholder="Filter Room Type" />
                </th>
                <th>
                    <input type="text" id="myInput3" onkeyup="filterFunctionColumn5('maintable', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5')" class="form-control" data-action="filter" placeholder="Filter HouseKeeping" />
                </th>
                <th>
                    <input type="text" id="myInput4" onkeyup="filterFunctionColumn5('maintable', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5')" class="form-control" data-action="filter" placeholder="Filter Room Status" />
                </th>
                <th>
                    <input type="text" id="myInput5" onkeyup="filterFunctionColumn5('maintable', 'myInput1', 'myInput2', 'myInput3', 'myInput4', 'myInput5')" class="form-control" data-action="filter" placeholder="Filter Floor" />
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuildingName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseKeepingStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FloorNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>